@model Kursavaya_ASP.Models.Dto.UserInfoCheck
@{
    ViewBag.Title = "Вход";
    ViewBag.Header = "Вход в аккаунт";
}

<div class="text-center w-25 mx-auto">
    <h2>Вход</h2>

    <form class="bg-light p-5" method="post"
          asp-controller="Home" asp-action="CheckLoginAndPassword">
        <div class="mt-2">
            <label asp-for="Login" class="form-label" style="font-size: 14pt">Логин</label>
            <input asp-for="Login" type="text" class="form-control" />
        </div>

        <div class="mt-2">
            <label asp-for="Password" class="form-label" style="font-size: 14pt">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Войти</button>
    </form>

    <p class="text-danger">@ViewBag.ErrMessage</p>
</div>
